<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="WorkspaceName" value="CASPER" />
		<add key="ProjectCollectionURI" value="http://casper:8080/tfs/DefaultCollection" />
		<add key="BranchName" value="$/Samples/SerqUtil.SampleUI" />
		<add key="SolutionFileName" value="C:\Users\Serkan\Documents\Samples\SerqUtil.SampleUI\SerqUtil.SampleUI.sln" />
		<add key="Configuration" value="Debug" />
		<add key="Platform" value="x86" />
		<add key="FromPath" value="C:\Users\Serkan\Documents\Samples\SerqUtil.SampleUI\SerqUtil.SampleUI" />
		<add key="ToPath" value="C:\Users\Serkan\Documents\Samples\SerqUtil.SampleUI.Publish" />
		<add key="ExcludedFiles" value="test1.txt,test2.txt,test3.txt" />
		<add key="LogFilePath" value="c:\tmp\log.txt"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
</configuration>